{%extends 'base.html'%}
{%block content%}

<div class="row container" style="padding-bottom:20px">
		
			<div class="col-md-3" style="padding-top: 24px">
				{%if user.join%}
					{% include 'partials/_sidebar.html' %}
				{%endif%}
			</div>
			<div class="col-md-9">
				<h3 >View all your Businesses</h3>
							{% include 'partials/_errors.html' %}
				<div class="row">
					{% if businesses %}
				
					{%for biz in businesses%}
					<div class="col-md-6">
						<div class="panel panel-default">
							
							<div class="panel-heading">
								{{biz.name.capitalize}}
							</div>
							<div class="panel-body">
								<p>{{biz.description.capitalize}}</p>
								
								<a href="{% url 'editBusiness' biz.id %}" class="btn btn-sm btn-primary">Edit</a>
								<a href="{% url 'deleteBusiness' biz.id %}" class="btn btn-sm btn-danger">Delete</a>
							</div>
							
							

						</div>
					</div>
					{%endfor%}
					{%else%}
					<h4>You havent registered any businesses yet. You can register on <a href="{% url 'createBusiness' %}">here</a> </h4>
					{%endif%}

							
				
			</div>
			
			</div>
			
		
	</div>


{%endblock%}