{%extends 'base.html'%}
{% block content%}
	<div class="row container" style="padding-bottom:20px">
		
			<div class="col-md-3" style="padding-top: 24px">
				{%if join%}
					{% include 'partials/_sidebar.html' %}
				{%endif%}

			</div>
			<div class="col-md-7">
				<h2><strong>{{profile.user}}</strong></h2>
				<h4><strong></strong> Post <strong></strong> Follower <strong>{{following}}</strong> Following</h4>
				<h4>{{profile.bio}}</h4>
					{%if profile.user.id == user.id%}
						<a class="btn btn-sm btn-success" href="">Create Post</a>
						<a class="btn btn-sm btn-primary" href="{% url 'editProfile' %}"> Update Profile</a>
						
					{%else%}
						 {%if is_follow%}
						 <a href="" class="btn btn-danger">Unfollow</a>
						 {%else%}
						 <a href="" class="btn btn-success">Follow</a>
				         {%endif%}
				        
					{%endif%}
			</div>
			<div class="col-md-2"></div>
		
	</div>


{%endblock%}


